@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Questrial&display=swap");

img {
    max-width: 100%;
    display: block;
}

* {
    --border-radius-medium: 1rem;
    --border-radius-large: 3rem;

    --color-bg: #f4f4f4;
    --color-light: #fff;
    --color-primary: #1c1c1c;
    --color-alert: #f86e1c;

    --spacing-tiny: 0.15rem;
    --spacing-xsmall: 0.25rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 0.8rem;
    --spacing-large: 2rem;
    --spacing-xlarge: 4rem;
    --spacing-xxlarge: 6rem;

    --nav-height: 80px;
}

.flow > * + * {
    margin-top: var(--spacing-medium);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Questrial", sans-serif;
}

h1 {
    max-width: 28ch;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.25rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--nav-height);
}

body {
    overscroll-behavior-x: none;
    font-size: 16px;
    line-height: 1.4;
    color: #1c1c1c;
    background-color: var(--color-bg);
    font-family: "Lexend Deca", sans-serif;

    /* padding: var(--spacing-small); */
}

nav {
    z-index: 666;
    background-color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    padding: var(--spacing-medium) var(--spacing-large);
    margin-bottom: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    a {
        text-transform: uppercase;
        user-select: none;
    }

    a:not(:has(button)) {
        padding-bottom: var(--spacing-tiny);
        border-bottom: 1px solid transparent;
    }

    a:hover:not(:has(button)) {
        border-bottom-color: var(--color-primary);
        /* text-decoration: underline; */
    }
}

.logo-container {
    max-width: 100px;
}

/* BUTTONS + LINKS */
a {
    text-decoration: none;
    color: var(--color-primary);
}

button {
    all: unset;
    padding: var(--spacing-medium) var(--spacing-large);
    border: 1px solid var(--color-alert);
    border-radius: var(--border-radius-large);
}

a button {
    text-transform: uppercase;
}

.button--primary {
    color: var(--color-light);
    background-color: var(--color-alert);
}

.button--secondary {
    color: var(--color-alert);
    background-color: var(--color-light);
}

.button--secondary:hover {
    background-color: var(--color-bg);
}

.nav--links {
    display: flex;
    align-items: center;
    gap: var(--spacing-large);
}

/* SECTIONS */

.hero {
    width: 100%;
    height: calc(100vh - var(--nav-height) - var(--spacing-large));
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-medium);
    padding-inline: var(--spacing-medium);
}

.hero--inner {
    display: flex;
    align-items: center;
    padding-inline: var(--spacing-large);

    p {
        font-size: 1.2rem;
    }
}

.hero--image {
    background-image: url(../img/pioneer-hero-dsk.jpg);
    background-position: center top;
    background-size: cover;
    border-radius: var(--border-radius-medium);
}

.hero--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-large);
}

.hero--text {
    text-align: left;
    gap: var(--spacing-large);
}

/* SERVICES */

.services {
    min-height: 100vh;
}

.contact {
    min-height: calc(100vh - 60px);
}

/* .thanks {
    width: 100%;
    height: calc(100vh - 175px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.services {
    background-color: var(--color-light);
    border-radius: var(--border-radius-medium);
    margin-block-start: var(--spacing-large);
    padding: var(--spacing-xlarge) var(--spacing-large);
}

.services--container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.services--wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxlarge);
}

.section--header {
    padding-bottom: var(--spacing-xlarge);
}

.service {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: var(--spacing-large);
    align-items: center;
}

.service--text {
    padding-block-start: var(--spacing-medium);
}

.service--img {
    max-width: 400px;
}

.service--img-plumbing,
.service--img-gasfitting,
.service--img-drainlaying {
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-primary);
}

/* .service--icon {
    width: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.service--icon {
    width: 60px;
    height: 60px;
}

.service--header {
    display: flex;
    align-items: center;
    gap: var(--spacing-medium);
}

ul {
    margin-top: var(--spacing-large);
    columns: 2;
    column-gap: var(--spacing-xlarge);
    /* padding-left: 1rem; */
}

li {
    /* list-style-type: disc; */
    margin-bottom: var(--spacing-medium);
}

.container--contact {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.container--contact-inner {
    width: 50%;
    padding: 1rem 2rem;
}

.contact-single {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.info--contacts a {
    font-size: 1.4rem;
    margin-left: 0.6rem;
}

.info--contacts a:hover {
    text-decoration: underline;
}

.contact--single {
    margin-bottom: 1.2rem;
}

.contact--icon {
    max-width: 30px;
}

.info {
    margin-bottom: 2rem;
    line-height: 1.8;
}

.call-now {
    display: none;
}

/* ?FORM STYLING */
form input,
form textarea {
    padding: 0.8rem 1rem;
    border: none;
    border-bottom: 1px solid #1c1c1c;
    width: 100%;
    margin-bottom: 1.2rem;
}

form textarea {
    border: 1px solid #1c1c1c;
}

.form-5050 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-50 {
    width: 48%;
}

.form-100 {
    width: 100%;
}

form input:focus,
form textarea:focus {
    box-shadow: 0 0 15px silver;
    outline: none;
}
form textarea {
    width: 100%;
    resize: vertical;
    min-height: 150px;
    max-height: 300px;
}
form button {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0.8rem 2rem;
    background-color: #1c1c1c;
    color: white;
    border: none;
    border-radius: 5px;
}
form button:hover,
form button:focus {
    box-shadow: 0 0 15px #1c1c1c;
    border: none;
    outline: none;
}
footer {
    background-color: silver;
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 10px;
    padding: 1rem;
}

/* QUERIES START */
@media screen and (max-width: 900px) {
    /* header {
        height: 170px;
    } */
    /* .link-box {
        padding: 0 2rem;
    }
    .hero {
        padding: 0 9rem;
    } */
    h2 {
        font-size: 2.2rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    /* header img {
        width: 140px;
    }
    header a {
        font-size: 1rem;
        padding-bottom: 0;
    } */
    /* .container--services {
        margin-top: 1rem;
    } */
    /* .section--header {
        padding-bottom: 2rem;
    } */

    .contact {
        min-height: auto;
        margin: 1rem 0 4rem 0;
        display: block;
    }
    .container--contact {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 5rem;
    }
    .container--contact-inner {
        width: 80%;
        padding: 0;
    }
    .info {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
        max-width: 500px;
    }
    .info--contacts {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
        width: 100%;
    }
    .info--contacts a {
        font-size: 1rem;
        margin-left: 0.4rem;
    }
    .contact--single {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    .contact--single a {
        font-size: 0.9rem;
    }
    .contact--icon {
        max-width: 25px;
    }

    form {
        max-width: 450px;
        margin: 0 auto;
    }
    /* .tukka {
        width: 280px;
        transform: translateY(120px);
    } */
}

@media screen and (max-width: 700px) {
    .hide-mbl {
        display: none;
    }
    /* body {
        font-size: 14px;
    } */
    /* 
    header {
        height: 180px;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 1rem;
    }

    header a {
        font-size: 0.8rem;
        padding: 0.4rem 1rem;
    } */
    /* .logo-box {
        margin-bottom: 10px;
    } */
    /* .logo-box,
    .link-box {
        position: relative;
    } */
    /* .link-box {
        display: flex;
        justify-content: space-between;
    } */
    nav {
        position: relative;
        top: unset;
    }

    .hero {
        grid-template-columns: 1fr;
        height: unset;
        min-height: 80vh;
    }

    .hero--inner {
        padding: var(--spacing-small);
    }

    /* .hero {
        background-image: url(../img/pioneer-hero-mbl.jpg);
        height: 550px;
        background-position: center;
        background-attachment: scroll;
        padding: 2rem;
    } */
    .hero {
        p {
            font-size: 1rem;
        }
    }
    h1 {
        font-size: 1.6rem;
        margin-bottom: 0;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.1rem;
    }

    .service--img {
        max-width: 400px;
        margin: 0 auto;
        order: 1;
    }

    .services {
        margin-block: var(--spacing-medium);
        padding: var(--spacing-large);
    }

    ul {
        columns: 1;
    }

    .service {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .section--header {
        padding-bottom: var(--spacing-medium);
    }

    .container--contact {
        margin-bottom: 12rem;
        max-width: 400px;
    }
    .container--contact-inner {
        width: 100%;
    }
    .info {
        text-align: left;
        margin-bottom: 2rem;
    }
    .info--contacts {
        display: block;
        text-align: left;
    }
    .contacts {
        margin-bottom: 1.4rem;
    }
    .contact--single {
        display: block;
        margin-bottom: 1rem;
    }
    .contact--icon {
        max-width: 20px;
    }
    form {
        width: 100%;
        font-size: 13px;
    }
    form input,
    form textarea {
        padding: 0.5rem 0.5rem;
        margin-bottom: 1rem;
    }
    .form-5050 {
        display: block;
    }
    .form-50 {
        width: 100%;
    }
    footer {
        font-size: 8px;
        padding: 1.2rem 0 0.8rem;
    }
    .call-now {
        color: orange;
        display: inline-block;
        font-size: 10px;
    }
    /* .tukka {
        width: 200px;
        transform: translateY(215px);
    }
    .tukka-dsk {
        display: none;
    }
    .tukka-mbl {
        display: block;
    } */
}
