---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url and page.data.robots != "noindex" %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
{%- for s in services %}
  <url>
    <loc>{{ site.url }}/services/{{ s.slug }}/</loc>
  </url>
{%- endfor %}
{%- for a in areas %}
  <url>
    <loc>{{ site.url }}/areas/{{ a.slug }}/</loc>
  </url>
{%- endfor %}
</urlset>
