---
layout: base.njk
title: Pioneer PGD Thanks
description: Plumbing, Gasfitting and Drainlaying servicing Upper Hutt, Pinehaven, Trentham, Silverstream and the Greater Wellington Region, New Zealand.
ogTitle: Pioneer PGD LTD
ogDescription: Plumbing, Gasfitting and Drainlaying servicing the greater Wellington region, New Zealand
conversion: true
robots: noindex
---

<section id="thanks" class="section thanks">
    <div class="contact--wrapper | stack-large">
        <div class="section--header stack">
            <h1>Thank you</h1>
            <h4 class="text-width-tiny">
                For getting in touch, we'll get back to you shortly.
            </h4>
        </div>
        <a href="/" class="button--primary">BACK HOME</a>
    </div>
</section>
