---
layout: base.njk
title: Pioneer PGD Thanks
description: Plumbing, Gasfitting and Drainlaying servicing Upper Hutt, Pinehaven, Trentham, Silverstream and the Greater Wellington Region, New Zealand.
ogTitle: Pioneer PGD LTD
ogDescription: Plumbing, Gasfitting and Drainlaying servicing the greater Wellington region, New Zealand
conversion: true
robots: noindex
---

<section id="thanks" class="section thanks">
    <div class="contact--wrapper">
        <div class="section--header stack">
            <h2>Thank you</h2>
            <h4 class="text-width-tiny">
                For getting in touch, we'll get back to you shortly.
            </h4>
        </div>
        <a href="/">
            <button class="button--secondary">HOME</button>
        </a>
    </div>
</section>
