<!-- Google tag (gtag.js) -->
<script
    async
    src="https://www.googletagmanager.com/gtag/js?id={{ site.adsId }}"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.adsId }}");
</script>
{% if conversion %}
<!-- Event snippet for lead form conversion page -->
<script>
    gtag("event", "conversion", {
        send_to: "{{ site.conversionSendTo }}",
        value: 1.0,
        currency: "NZD",
    });
</script>
{% endif %}
