<a href="/areas/{{ card.slug }}/" class="hub-card hub-card--{{ card.type }}">
    <div class="hub-card--img">
        <img src="{{ card.image }}" alt="{{ card.imageAlt }}" />
    </div>
    <div class="hub-card--body">
        <h3>{{ card.name }}</h3>
        <p>{{ card.intro }}</p>
        <span class="hub-card--more">View area ›</span>
    </div>
</a>