<footer{% if page.url != "/" %} style="height: unset;"{% endif %}>
    <div>
        <p>
            &copy; {{ site.legalName }}. {{ currentYear() }}
        </p>
    </div>
    <div>
        <p>Certifying Plumbing, Gasfitting and Drainlaying</p>
    </div>
</footer>
