<section class="hero page-hero">
    <div class="hero--inner">
        <div class="hero--content | stack-large">
            <div class="hero--text stack">
                {% include "partials/breadcrumbs.njk" %}
                <h1 class="text-balance {{ heroTitleClass }}">{{ heroTitle }}</h1>
                <p class="mbl-left-align">{{ heroText }}</p>
            </div>
            <div class="flex hide-mbl">
                <a href="/contact/"
                ><button class="button--primary">
                    Contact now
                </button></a
                >
            </div>
        </div>
    </div>
    <div class="hero--img-wrap">
        {% image heroImage, heroAlt, [600, 1280, 1920], "(min-width: 1280px) 1280px, (min-width: 600px) 600px, 100vw", "hero--img" %}
    </div>
</section>