{% set home = page.url == "/" %}
{% set disableContact = page.url == "/contact/" or page.url == "/thanks/" %}
<nav>
    <div class="logo-container">
        {% if home %}
        <a href="#top"
            ><img
                class="logo-desktop hide-mbl"
                src="/img/pioneer-logo.png"
                alt="Pioneer Plumbing Gasfitting and Drainlaying services in the greater Wellington region."
        /><img
                class="logo-mobile hide-dsk"
                src="/img/pioneer-logo-mbl.png"
                alt="Pioneer Plumbing Gasfitting and Drainlaying services in the greater Wellington region."
        /></a>
        {% else %}
        <a href="/"
            ><img
                class="logo-desktop hide-mbl"
                src="/img/pioneer-logo.png"
                alt="Pioneer Plumbing Gasfitting and Drainlaying services in the greater Wellington region."
        /><img
                class="logo-mobile hide-dsk"
                src="/img/pioneer-logo-mbl.png"
                alt="Pioneer Plumbing Gasfitting and Drainlaying services in the greater Wellington region."
        /></a>
        {% endif %}
    </div>
    
    <div class="nav--links">
        <div class="nav--links_mbl">
            <a href="/services/">Services</a>
            <a href="/areas/">Areas</a>
            <a href="/about/">About</a>
            <a href="/reviews">Reviews</a>
        </div>
        <a href="/contact/" class="hide-dsk button--primary{% if disableContact %} disable{% endif %}">Contact Now</a>
        <a href="/contact/" class="hide-mbl nav-contact button--secondary{% if disableContact %} disable{% endif %}">Contact Now</a>
    </div>
</nav>
