<section id="reviews" class="section section-mbl bg-light">
    <div class="section--container">
        <div class="section--header">
            <h2>Customer Reviews</h2>
        </div>
        <div class="section--wrapper">
            <div class="reviews">
                {% for r in reviews.list | slice(0, 3) %}
                <div class="review">
                    <div class="stars">
                        {% for i in range(1, r.stars + 1) %}
                        <img class="star" src="/img/star.svg" alt="Star" width="20" height="20" />
                        {% endfor %}
                    </div>

                    <div class="review--text text-width-med">
                        <div class="stack">
                            {% for p in r.paragraphs %}
                            <p>{{ p | safe }}</p>
                            {% endfor %}
                        </div>

                        <div>
                            <h4>{{ r.author }}</h4>
                            <p>{{ r.location }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>