<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Plumber",
    "@id": "{{ site.url }}/#organization",
    "name": "{{ site.name }}",
    "legalName": "{{ site.legalName }}",
    "url": "{{ site.url }}",
    "telephone": "{{ site.phone }}",
    "email": "{{ site.email }}",
    "description": "{{ site.description }}",
    "image": "{{ site.url }}/img/sharing.jpg",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "{{ site.address.addressLocality }}",
        "addressRegion": "{{ site.address.addressRegion }}",
        "addressCountry": "{{ site.address.addressCountry }}"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": {{ site.geo.latitude }},
        "longitude": {{ site.geo.longitude }}
    },
    "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "09:00",
        "closes": "17:00"
    },
    "areaServed": [
        {
            "@type": "City",
            "name": "Upper Hutt",
            "containedInPlace": {"@type": "State", "name": "Wellington Region"}
        },
        {
            "@type": "City",
            "name": "Lower Hutt",
            "containedInPlace": {"@type": "State", "name": "Wellington Region"}
        },
        {
            "@type": "City",
            "name": "Wellington",
            "containedInPlace": {"@type": "State", "name": "Wellington Region"}
        }
    ],
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": {{ reviews.google.rating }},
        "reviewCount": {{ reviews.google.count }},
        "bestRating": 5
    },
    "sameAs": {{ site.sameAs | json | safe }}
}
</script>
