<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Plumber",
    "@id": "{{ site.url }}/#organization",
    "name": "{{ site.name }}",
    "legalName": "{{ site.legalName }}",
    "url": "{{ site.url }}",
    "telephone": "{{ site.phone }}",
    "email": "{{ site.email }}",
    "description": "{{ site.description }}",
    "image": "{{ site.url }}/img/sharing.jpg",
    "priceRange": "$$",
    "address": {
        "@type": "PostalAddress",
        "addressLocality": "{{ site.address.addressLocality }}",
        "addressRegion": "{{ site.address.addressRegion }}",
        "addressCountry": "{{ site.address.addressCountry }}"
    },
    "geo": {
        "@type": "GeoCoordinates",
        "latitude": {{ site.geo.latitude }},
        "longitude": {{ site.geo.longitude }}
    },
    "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
        "opens": "09:00",
        "closes": "17:00"
    },
    "areaServed": [
        {
            "@type": "City",
            "name": "Upper Hutt",
            "containedInPlace": {"@type": "State", "name": "Wellington Region"}
        },
        {
            "@type": "City",
            "name": "Lower Hutt",
            "containedInPlace": {"@type": "State", "name": "Wellington Region"}
        },
        {
            "@type": "City",
            "name": "Wellington",
            "containedInPlace": {"@type": "State", "name": "Wellington Region"}
        }
    ],
    "areaServedSuburbs": [
        "Upper Hutt Central", "Trentham", "Silverstream", "Pinehaven", "Heretaunga",
        "Wallaceville", "Te Marua", "Maoribank", "Birchville", "Totara Park",
        "Clouston Park", "Brown Owl", "Riverstone Terraces", "Mangaroa",
        "Whiteman's Valley", "Kaitoke", "Akatarawa",
        "Lower Hutt Central", "Petone", "Avalon", "Taita", "Naenae", "Waterloo",
        "Waiwhetu", "Epuni", "Stokes Valley", "Wainuiomata", "Normandale",
        "Maungaraki", "Belmont", "Point Howard", "Eastbourne",
        "Wellington CBD", "Thorndon", "Te Aro", "Mount Victoria", "Newtown",
        "Brooklyn", "Karori", "Ngaio", "Khandallah", "Johnsonville", "Hataitai",
        "Kilbirnie", "Miramar", "Island Bay", "Strathmore", "Wilton", "Northland"
    ],
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": {{ reviews.google.rating }},
        "reviewCount": {{ reviews.google.count }},
        "bestRating": 5
    },
    "sameAs": {{ site.sameAs | json }}
}
</script>
